<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ .Title  }} | {{ .Site.Title }}</title>
  {{- partial "metadata.html" . -}}
	<link rel="canonical" href="{{ .Permalink  }}">
</head>
