<meta name="description"
      content="{{ if .Params.summary }}{{ .Params.summary }}
               {{ else if .Site.Params.Description }}{{ .Site.Params.Description }}
               {{ else }}Audio Stream Website
               {{ end }}">
<meta property="og:title" content="{{ .Title | .Site.Title }}">
<meta property="og:description"
      content="{{ if .Params.summary }}{{ .Params.summary }}
               {{ else if .Site.Params.Description }}{{ .Site.Params.Description }}
               {{ else }}Audio Stream Website
               {{ end }}">
<meta property="og:image" content="">
<meta property="og:image:alt" content="">
<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta property="og:type" content="website">
<meta name="twitter:card" content="">
<meta property="og:url" content="{{ .Site.BaseURL }}">
